@charset "UTF-8";

body {
    background-color: darkgray;
    margin: 0px;
    font-family: sans-serif;
}

header {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.363);
}

nav {
    background-color: rgb(80, 79, 79);
    padding: 2px;
    text-align: center;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.301);
}

nav > a {
    color: white;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.363);
}

main > section#assuntos > h2 {
    text-decoration: underline black;
    text-align: center;
}

footer {
    background-color: black;
    border-radius: 2px;
    color: white;
    padding: 3px;
    text-align: center;
    font-family: serif;
    font-size: 1.2em;
}

footer > p {
    margin: 0px;
}