@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

header h1 {
    font-family: var(--fonte2);
    padding: 50px 0px 0px 0px;
    font-variant: small-caps;
    font-size: 9vw;
}

header p {
    padding: 0px 0px 50px 0px;
    font-size: 3vw;
}

header p a {
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-weight: bolder;
}

header p a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 4vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.39);
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);

}

section p {
    padding-bottom: 1.3em;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    
}

footer h4.texto {
    line-height: 20px;
}

footer a {
    text-decoration: none;
    color: darkgray;
    font-size: 1.2em;
    font-variant: small-caps;
}

footer a:hover {
    line-height: 20px;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 8px;
    padding: 0px 0px;
    width: 230px;
    height: auto;
    transition-duration: .5s;
    margin: auto;
    display: block;
}