@charset "UTF-8";


/* 
    em HTML id    = em CSS é #
    em HTML class = em CSS é .
*/

body {

    background-color: rgb(227, 255, 184);
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 3.2em;
    color: rgb(24, 83, 24);
}



h2 {
    color: rgb(13, 126, 13);
    font-size: 2.8em;
}


p {
    text-align: justify;
    font-family: monospace;
    font-size: 1.4em;
    font-weight: 500;
}