@charset "UTH-8";


*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    font-size: large;
    background-image: linear-gradient(to right, #03A688, #19a7ff, #00578d);
 
}

main {
    background-color: rgb(255, 255, 255);
    width: 650px;
    padding: 5px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 4px 4px 15px #19a7ff;
    
}

h1 {
    border-radius: 8px;
    padding: 5px;
    background-color: ;
    color: #011F26;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

h2 {
    border-radius: 8px;
    padding: 5px;
    background-color: ;
    color: #F2668B;
    text-shadow: 1px 1px 3px rgb(31, 30, 30);
}

h3 {
    text-align: center;
    color: #025E73;
    text-shadow: 1px 1px 1px rgb(31, 30, 30);

}

p {
    text-align: justify;
}